# Build output
dist/
.astro/
.build-temp/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.production

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
